* {
    font-family: Arial;
}
.navbar {
    background-color: #a10100 !important;
    padding: 15px;
}
.navbar {
    background-color: #a10100 !important;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 130px;
}
.navbar-brand img {
    height: 100px;   
    width: auto;   
}
.navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
    letter-spacing: 0.5px;
    transition: 0.2s;
    text-transform: uppercase;
    padding-top: 20px;
}

.navbar-nav .nav-link:hover {
    color: #E88213 !important;
}
.d-flex{
    padding-top: 23px;
    padding-right: 15px;
}
.btn-primary {
    background-color: #E88213 !important;
    border-color: #E88213 !important;
    font-weight: bold;
    margin-bottom: 15px;
}
footer{
    background-color:#a10100 ;
    padding: 2px 0;
}
.item2 i {
    color: white;
    font-size: 28px;
    margin-top: 20px;
    margin-right: 15px;
}
.itensfooter{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}
.item2{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.item2 h4 {
    margin: 0 0 5px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 15px;

}

.item2 p {
    margin: 2px 0;
    font-size: 15px;
    color: white;
}
.itensfooter{
    display: flex;
    flex-wrap: wrap;
}

.item3{
    width: 100%;
    text-align: right;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 12px;
}
main {
    padding: 0;
    margin: 0;
}
.navbar-nav .nav-link.active {
    color: #E88213 !important;
    border-bottom: 2px solid #E88213;
}

@media (max-width: 768px) {
    .itensfooter {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .item2 {
        flex-direction: column;
        align-items: center;
    }

    .item2 i {
        margin: 0 0 10px 0;
    }

    .banner::after,
    .banner2::after {
        display: none;
    }
    .item3{
        text-align: center;
    }
}   

