* {
    font-family: Arial;
}
.banner {
    border-top: white solid 1px;
    position: relative;
    height: 500px;
    width: 100%;
    background: url("Fotos/banner.png") no-repeat center;
    background-size: cover;
    align-items: flex-end; 
    padding-top: 30px;
    padding-left: 50px;
}


.conteudo {
    position: absolute;
    bottom: 35px;
    left: 50px;
}

.conteudo h1 {
    font-size: 45px;
    color: #E88213;
    margin-bottom: 5px;
}

.conteudo h2 {
    font-size: 35px;
    color: white;
    margin-top: 0;
}
.conteudo h3 {
    font-size: 25px;
    color: white;
    margin-top: 0;
}

.botoes {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;             
    align-items: center;        
    justify-content: center;    
    border-radius: 5px;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    min-width: 140px;
    padding: 10px;
    margin-bottom: 20px;
}

.ifood {
    background: #EA1D2C;
}

.aiqfome {
    background: purple;
}

.whatsapp {
    background: #25D366;
    gap: 3px;
}
body {
    overflow-x: hidden;
}
.ifoodimg{
    width: 50px;
}
.aiqimg{
    width: 100px;
}
.whatsimg{
    width: 40px;
}
.btn:hover {
    transform: translateY(-3px);
}
section{
    background-color: black;
}

.diferenciais {
   display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px; 
    padding: 40px 0;
}


.item {
    display: flex;
    align-items: flex-start;
    gap: 10px;    
}


.item i {
    color: #a10100;         
}


.item div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.item h3 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;             
    line-height: 1.1;
}

.item p {
    color: #B3B3B3;        
    font-size: 14px;
    margin: 4px 0 0 0;     
    line-height: 1.3;
}
.item img{
    width: 120px;
}
.item {
    padding: 20px;
}

.item:last-child {
    border-right: none;
}
.banner2{
    position: relative;
    height: 350px;
    width: 100%;
    background: url("Fotos/banner2.png") no-repeat center;
    background-size: cover;
    align-items: flex-end; 
    padding-top: 30px;
    padding-left: 50px;
}
.conteudo2 {
    position: absolute;
    right: 50px;
}

.conteudo2 h1 {
    font-size: 35px;
    color: #E88213;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-right: 7px;
}

.conteudo2 h2 {
    font-size: 25px;
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    margin-right: 7px;
}
.banner2::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        black 0%,        
        transparent 15%,
        transparent 85%,
        #a10100 100%     
    );
}
.banner::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        transparent 85%,
        black 100%     
    );
    pointer-events: none;
}

@media (max-width: 768px) {
    .banner {
        height: auto;
        min-height: 300px;
        padding: 20px;
        display: flex;
        align-items: flex-end;
        background: url("Fotos/bannercel.png") no-repeat center;
    }

    .conteudo {
        position: static;
        text-align: center;
        width: 100%;
    }

    .conteudo h1 {
        font-size: 20px;
        margin-right: 58px;
        color: white;
    }

    .conteudo h2 {
        font-size: 18px;
        margin-right: 58px;
    }

    .conteudo h3 {
        font-size: 16px;
        margin-right: 68px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .btn {
        width: 100%;
        max-width: 260px;
        justify-content: center;
        margin-right: 60px;
    }

    .ifoodimg{
        width: 50px;
    }
    .aiqimg{
        width: 100px;
    }
    .whatsimg {
        width: 40px;
    }

    .diferenciais {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
        padding: 30px 15px;
    }

    .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .item img {
        width: 70px;
        margin-right: 20px;
    }
    .item h3{
        margin-right: 28px;
    }
    .item p{
        margin-right: 28px;
    }

    .item div {
        align-items: center;
    }

    .banner2 {
        height: auto;
        min-height: 250px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("Fotos/MR619958.jpg") no-repeat center;
        background-size: cover;
    }

    .conteudo2 {
        position: static;
        text-align: center;
    }

    .conteudo2 h1 {
        display: none;
    }

    .conteudo2 h2 {
        display: none;
    }
    
}