* {
    margin: 0;
    padding: 0;
    font-family: inter, arial;
}
.header{
    background-color: #f1f1f1;
    .header-logo {
        img{
            width: 300px;
        }
    }
    .header-menu{
        float: right;
        margin: 10px;
        color: #ccc;
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
    }
    .header-nav{
        display: none;
        ul{
            list-style: none;
            li{
                text-align: center;
                background-color: white;
                margin: 5px;
                padding: 5px;
                a{
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
}
.banner{
    height: 400px;
    width: 100%;
    background: url(../imgs/banner.jpg);
    color: white;
    text-align: center;
    padding: 150px;
    background-size: cover;
}
main{
    h2{
        text-align: center;
    }
}
/*media para telas maiores*/
@media (min-width: 480px){
    .header {
        .header-menu{
            display: none;
        }
        .header-nav{
            width: 50%;
            float: right;
            text-align: right;
            display: block;
            ul{
                li{
                    display: inline-block;
                    background-color: transparent;
                    margin: 10px;
                }
            }
        }
        }
        .banner{
            padding: 230px;
            height: 500px;
        }
    }
